.speech-bubble {
  position: absolute;
  display: inline-block;
  padding: 6px 8px;
  background-color: rgb(49, 49, 49);
  background-clip: padding-box;
  border: 10px solid transparent;
  border-radius: 18px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 17.71px;
  pointer-events: none;
  word-wrap: break-word;
  z-index: 1049;
}
.speech-bubble:hover {
  opacity: 1;
}

.speech-bubble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: inherit;
  z-index: -1;
}

.speech-bubble--small {
  width: 60px;
}

.speech-bubble--medium {
  width: 200px;
}

.speech-bubble--large {
  width: 400px;
}

.speech-bubble--extraLarge {
  width: 600px;
}

.speech-bubble--top:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 12px solid rgb(49, 49, 49);
  transform: translateX(-50%);
}

.speech-bubble--bottom:after {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  border-bottom: 12px solid rgb(49, 49, 49);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  transform: translateX(-50%);
}

.speech-bubble--left:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -6px;
  border-left: 12px solid rgb(49, 49, 49);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  transform: translateY(-50%);
}

.speech-bubble--right:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -6px;
  border-right: 12px solid rgb(49, 49, 49);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  transform: translateY(-50%);
}

.speech-bubble--left-top:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 10%;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 12px solid rgb(49, 49, 49);
  transform: translateY(-50%);
}

.speech-bubble--right-top:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 12px solid rgb(49, 49, 49);
  transform: translateY(-50%);
}

.speech-bubble--left-bottom:after {
  content: "";
  position: absolute;
  top: 0%;
  right: 10%;
  border-bottom: 12px solid rgb(49, 49, 49);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  transform: translateY(-50%);
}

.speech-bubble--right-bottom:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 10%;
  border-bottom: 12px solid rgb(49, 49, 49);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  transform: translateY(-50%);
}

/* @use "../../../../mixin.scss" as *;

.bubble-box {
  position: relative;
  width: 100%;
  &__contents {
    width: 100%;
    @include ellipsisSingleLine();
    white-space: pre;
    &.flex {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.block {
      display: block;
    }
  }
  &.draggable {
    &:hover {
      .speech-bubble {
        opacity: 1;
        pointer-events: all;
        @include allowSelect;
      }
    }
  }
  &.non-draggable {
    &:hover {
      .speech-bubble {
        opacity: 1;
      }
    }
  }
  .speech-bubble {
    opacity: 0;
    transition: opacity 0.2s;
    @include preventSelect;
  }
} */
